<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>L'oiseau rare • Don • CHQ{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <p>Veuillez envoyer votre chèque signé à l'ordre "Nos Amis les Oiseaux" à l'adresse suivante :</p>
            <p>Association Nos Amis Les Oiseaux, La Plaine 05130 TALLARD</p>
            <p>Bouton "Retour à l'accueil"</p>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
