{% extends "base.html.twig" %}

{% block title %}Don - Chèque{% endblock %}

{% block body %}

    <div class="container-fluid" id="don">
        <div class="white-filter">
            <div class="container" id="block-chq">
                <div class="row">
                    <div class="offset-1 col-10 col-md-5" id="don-form">
                        <h3>Merci</h3>
                        <img src="{{ asset('build/img/don-blanc.svg') }}" width="65px" height="65px">
                        <p id="p-chq">Veuillez envoyer votre chèque signé à l'ordre <strong>"Nos Amis les Oiseaux"</strong> à l'adresse suivante :</p>

                        <div id="block-info-asso">
                            <p>Association Nos Amis Les Oiseaux<br>
                            La Plaine 05130 TALLARD</p>
                        </div>

                        <a id="btn-chq" href="{{ path('home') }}"><button class="btn"> Retour à l'accueil</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>     

{% endblock %}
