{% extends "base.html.twig" %}

{% block title %}Don - Virement{% endblock %}

{% block body %}

    <div class="container-fluid" id="don">
        <div class="white-filter">
            <div class="container" id="block-vir">
                <div class="row">
                    <div class="offset-1 col-10 col-md-5" id="don-form">
                        <h3>Merci</h3>
                        <img src="{{ asset('build/img/don-blanc.svg') }}" width="65px" height="65px">
                        <p id="p-chq">Veuillez effectuer votre virement au compte bancaire de <strong>"Nos Amis les Oiseaux"</strong></p>

                        <div id="table-vir">
                            <table class="table">
                              <tr>
                                <th scope="row">IBAN</th>
                                <td>0000000000</td>
                              </tr>
                              <tr>
                                <th scope="row">BIC</th>
                                <td>0000000000</td>
                              </tr>
                            </table>
                        </div>

                        <a id="btn-chq" href="{{ path('home') }}"><button class="btn"> Retour à l'accueil</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>     

{% endblock %}