<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>L'oiseau rare • Don • VIR{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <p>Veuillez effectuer votre virement au compte bancaire de "Nos Amis les Oiseaux</p>
            <p>Scan IBAN ou textuel</p>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
