{% extends "base.html.twig" %}

{% block body %}

	{{ dump(birds) }}
	<ul>
		{% for bird in birds %}
			<li> {{ bird.vernName }} - {{ bird.cdName }} </li>
		{% else %}
		<p>Pas d'oiseau correspondant à votre recherche.</p>	
		{% endfor %}
	</ul>

{% endblock %}