{% extends "base.html.twig" %}

{% block title %}Liste{% endblock %}

{% block body %}

	<h2>Blog</h2>

	<p>
		{{ dump(reponse) }}

	</p>

	{% for article in articles %}

		<div style="width: 200px; height: 200px; background: #f0f0f0; margin: 20px;">
			<h3>{{ article.title }}</h3>
			<p>{{ article.content }}</p>
			<a href="{{ path('article_single', {'id': article.id}) }}"><button>Lire la suite</button></a>
		</div>

	{% endfor %}	

{% endblock %}	