{% extends "base.html.twig" %}

{% block title %}Blog{% endblock %}

{% block body %}

	<div class="container-fluid" id="blog-list">

		<div class="row">	

			{% for article in articles %}

					<div class="col-12 col-md-4 container-article">
						<div class="block-article">
							<!--<img src="{{ asset('build/img/oies.jpg') }}" id="article-image">-->

							<div class="block-short-article">
								<h3>{{ article.title }}</h3>
								<p>{{ article.content|slice(0, 100) }}</p>
								<a href="{{ path('article_single', {'id': article.id}) }}"><button class="btn">Lire la suite</button></a>
							</div>
						</div>
					</div>

			{% endfor %}
		</div>
	</div>	

{% endblock %}	